.app-container {
  display: flex;
  height: 100vh;
  padding-top: 64px;
}

.content-area {
  flex-grow: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
